.App {
  text-align: center;
  background-size: 100rem;
  height: 50rem;
  background-color: #020202;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 3em;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.App-intro {
  font-size: large;
}
