.App {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1475483768296-6163e08872a1?ixlib=rb-0.3.5&s=900d5432a1d7e933c0153dace683f73a&auto=format&fit=crop&w=1950&q=80);
  background-size: 100rem;
  height: 50rem;
 /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
font-family: 'Luckiest Guy', cursive;

  color: blanchedalmond;
}

.App-intro {
  font-size: large;
}
