.currentWeather {
  border: double;
  margin-top: 3rem;
  box-shadow: 2px 2px 2px 2px #191b18;
  height: 16.5rem;
  width: 23rem;
  color: white;
  /*opacity: .7;*/
  text-align: center;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

.location {
  font-size: 1.5rem;
}

.weather-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.left-side {
  float: left;
}

.right-side {
  float: right;
  font-size: 2rem;
}

h2,
h3,
p {
  color: #fff;
  font-size: 1rem;
}
