 .search-button {
    background: rgb(66, 184, 221); 
    color: pink;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

 .first-input, .second-input {
    display: block;
    margin-bottom: .5rem;
 }
   
.first-input {
 /* width: 5rem;*/
}     
 .second-input {
    margin-bottom: 3rem;
 }


        
      