.first-input {
  margin-bottom: 0.5rem;
  height: 2rem;
  width: 16.5rem;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #dcdcdc;
}

::placeholder {
  color: white;
  text-shadow: 1px 1px black;
}

.search-button {
  background-color: rgba(0, 0, 0, 0.336);
  color: #ffffff;
  cursor: pointer;
  margin-left: 0.5rem;
  width: 6.35rem;
  height: 2rem;
  font-size: 1rem;
}

.search-button:hover {
  background-color: white;
  color: black;
}
