.tenDay-header {
  font-size: 2rem;
  color: white;
  font-family: "Raleway", sans-serif;
  margin-top: 0;
}

.tenDayCard {
  border: double;
  width: 15rem;
  color: black;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background-color: #f8f8ff;
}

h2,
h3,
p {
  margin-left: 2rem;
  margin-right: 2rem;
}

.tenDay {
  border: 2px solid black;
  width: 47rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  overflow-x: scroll;
  margin: auto;
}

@media (max-width: 770px) {
  .tenDay {
    width: 28rem;
  }
}
