.tenDayCard {
  border: double;
  width: 7rem;
  color: black;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background-color: #F8F8FF;
}

.tenDay {
   border: 1px solid black;
  width:  250px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-content: center;
  overflow-x: scroll;
  margin: auto;
}
