.tenDayCard {
  border: double;
  width: 7rem;
  color: black;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background-color: #F8F8FF;
}

.tenDay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
